
body{
    max-width: 1600px;
    background-color: #FF9F1C ;
font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color:#d7c9aa ;
}
.home-title {
font-family: 'Arial', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
main{
    text-align: center;
}
#background {
    height: 725px;
    background-color: #FF9F1C ;
}
nav a{
    text-align: center;
   text-decoration: none;  
}
nav a:hover{
    background-color: #D0E37F;
}
#hero-msg h1, #hero-msg h4 {
text-align: center;
} 
.button-box {
    text-align: center;
}
.book, .join{
    background-color: #DBDBDB;
     text-decoration: none;
     margin-top: 50px;
     border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #D0E37F;
    border-radius: 5%;
}
.msg{
    background-color: #ffffff;
  line-height: 1.5em;   
  padding: 35px;
}
footer{
    background-color: #e8ddb5;
    padding: 25px 50px;
    margin-top: 200px;
}
.msg h2 {
background-color: #ffffff;
}
.msg p {
    background-color: #ffffff;
padding-bottom: 15px;
}
footer a {
    background-color: #CFDEE7;
     text-decoration: none;

}
footer a:hover {
    background-color: #D0E37F;

}
h4 {
background-color: #000000;

}
.icon {
    width: 80px;
     padding-top: 10px;
}
.logo {
    width: 120px;
}
#hero-img {
width: 100%;
}
footer p {
font-size: 1.2em;;
}
footer p a:hover {
    text-decoration: underline;
}
h2 {
    margin: 0;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card  {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
     box-sizing: border-box;
}
